html {
    height: 100%;
  }

body {
    min-height: 100%;
  }

.btn {
  background-color: white;
  background-image:
    linear-gradient(
      #0866c4, #a185c7
    );
}

.card {
  background-color: #0866c4;
  background-image:
    linear-gradient(
      #0866c4, #ebeced
    );
}

#foot {
  background-color: white;
  background-image:
    linear-gradient(
      #0866c4, #a185c7
    );
}